{
  "openapi": "3.0.0",
  "info": {
    "title": "Cloudglue API",
    "description": "API for Cloudglue",
    "license": {
      "name": "Apache License 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    },
    "version": "0.7.1"
  },
  "servers": [
    {
      "url": "https://api.cloudglue.dev/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/tags": {
      "post": {
        "tags": ["Tags"],
        "summary": "Create a new tag",
        "operationId": "createTag",
        "description": "Create a new tag",
        "requestBody": {
          "description": "Tag creation parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateVideoTagRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Tag created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTag"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or missing required label/value",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "File not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Resource limits exceeded (total tags per file or segment)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred on the server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Tags"],
        "summary": "List all tags",
        "operationId": "listTags",
        "description": "List all tags",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Filter tags by type: 'file' or 'segment'",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["file", "segment"]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of tags to return",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of tags to skip",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of tags",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListVideoTagsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tags/{tag_id}": {
      "get": {
        "tags": ["Tags"],
        "summary": "Get a tag",
        "operationId": "getTag",
        "description": "Get a tag",
        "parameters": [
          {
            "name": "tag_id",
            "in": "path",
            "required": true,
            "description": "The ID of the tag",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tag",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTag"
                }
              }
            }
          },
          "404": {
            "description": "Tag not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Tags"],
        "summary": "Delete a tag",
        "operationId": "deleteTag",
        "description": "Delete a tag",
        "parameters": [
          {
            "name": "tag_id",
            "in": "path",
            "required": true,
            "description": "The ID of the tag",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tag deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique identifier for the tag"
                    }
                  },
                  "required": ["id"]
                }
              }
            }
          },
          "404": {
            "description": "Tag not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Tags"],
        "summary": "Update a tag",
        "operationId": "updateTag",
        "description": "Update a tag",
        "parameters": [
          {
            "name": "tag_id",
            "in": "path",
            "required": true,
            "description": "The ID of the tag",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Tag update parameters. At least one of label or value is required.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateVideoTagRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Tag updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTag"
                }
              }
            }
          }
        }
      }
    },
    "/extract": {
      "post": {
        "tags": ["Extract"],
        "summary": "Create a new extract job",
        "operationId": "createExtract",
        "description": "Extract structured data from a video",
        "requestBody": {
          "description": "Extract job parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewExtract"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Extract"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or missing required prompt/schema",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Extract job not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Monthly extract jobs limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred on the server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Extract"],
        "summary": "List all extract jobs",
        "operationId": "listExtracts",
        "description": "List all extract jobs with optional filtering",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of extract jobs to return",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of extract jobs to skip",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter extract jobs by status",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "processing",
                "completed",
                "failed",
                "not_applicable"
              ]
            }
          },
          {
            "name": "created_before",
            "in": "query",
            "description": "Filter extract jobs created before a specific date (YYYY-MM-DD format), in UTC timezone",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "created_after",
            "in": "query",
            "description": "Filter extract jobs created after a specific date (YYYY-MM-DD format), in UTC timezone",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "url",
            "in": "query",
            "description": "Filter extract jobs by the input URL used for extraction",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_data",
            "in": "query",
            "description": "Include the data in the response. If false, the response will only include the job information and not the data to minimize the response size.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of extract jobs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtractList"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or extract config requires at least one option enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Extract job not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Monthly extract jobs limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred on the server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/extract/{job_id}": {
      "get": {
        "tags": ["Extract"],
        "summary": "Retrieve the current state of an extraction job",
        "operationId": "getExtract",
        "description": "Retrieve the current state of an extraction job. Results are paginated with a default limit of 50 segment entities per request (maximum 100). Use limit and offset parameters to paginate through all segment entities.",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the extraction job",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of segment entities to return",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of segment entities to skip",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "include_thumbnails",
            "in": "query",
            "description": "When true, include a file-level thumbnail_url in the data object and a per-segment thumbnail_url on each segment entity",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include_chapters",
            "in": "query",
            "description": "Include narrative chapters in the response (when segmentation strategy is 'narrative')",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "include_shots",
            "in": "query",
            "description": "Include shot boundaries in the response (when segmentation strategy is 'shot-detector')",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with job details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Extract"
                }
              }
            }
          },
          "404": {
            "description": "Job not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred on the server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Extract"],
        "summary": "Delete an extraction job",
        "operationId": "deleteExtract",
        "description": "Delete an extraction job",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the extraction job",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful deletion",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique identifier for the extract job"
                    }
                  },
                  "required": ["id"]
                }
              }
            }
          },
          "404": {
            "description": "Job not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred on the server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/files": {
      "post": {
        "tags": ["Files"],
        "summary": "Upload a video file that can be used with Cloudglue services",
        "operationId": "uploadFile",
        "description": "Upload a video file that can be used with Cloudglue services",
        "requestBody": {
          "description": "Upload a video file",
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/FileUpload"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful file upload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request, missing file, invalid metadata, or video duration exceeds limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported file type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Resource limits exceeded (monthly upload limit, total duration, file size, or total files)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred on the server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Files"],
        "summary": "List files that have been uploaded to Cloudglue",
        "operationId": "listFiles",
        "description": "List files that have been uploaded to Cloudglue",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Filter files by processing status",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "processing",
                "completed",
                "failed",
                "not_applicable"
              ]
            }
          },
          {
            "name": "created_before",
            "in": "query",
            "description": "Filter files created before a specific date (YYYY-MM-DD format), in UTC timezone",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "created_after",
            "in": "query",
            "description": "Filter files created after a specific date (YYYY-MM-DD format), in UTC timezone",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit the number of files to return",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of files to skip",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Order the files by a specific field",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["created_at", "filename"]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort the files in ascending or descending order",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"]
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "JSON string containing filter criteria to constrain file search results. This is the JSON string version of the SearchFilter object used in the search API.\n\n**Supported Filter Types:**\n\n\u2022 **metadata** - Filter by file metadata using JSON path expressions (e.g., 'metadata.speaker', 'metadata.category.subcategory')\n\u2022 **video_info** - Filter by video information properties. Supports optional `scope` ('file' or 'segment', default 'file')\n  - `duration_seconds` - Video/segment duration in seconds (supports file and segment scope)\n  - `has_audio` - Whether the video has audio (true/false, file scope only)\n\n\u2022 **file** - Filter by file properties\n  - `filename` - File name (string)\n  - `uri` - File URI (string)\n  - `id` - File ID (UUID string)\n  - `created_at` - Creation timestamp (ISO 8601 string)\n  - `bytes` - File size in bytes (number)\n\n**Supported Operators:**\n\u2022 **Equal** - Exact match (requires valueText)\n\u2022 **NotEqual** - Not equal to value (requires valueText)\n\u2022 **LessThan** - Less than value (requires valueText)\n\u2022 **GreaterThan** - Greater than value (requires valueText)\n\u2022 **Like** - Case-insensitive pattern matching with wildcards (requires valueText)\n\u2022 **In** - Value is in array (requires valueTextArray)\n\u2022 **ContainsAny** - Array contains any of the values (requires valueTextArray)\n\u2022 **ContainsAll** - Array contains all of the values (requires valueTextArray)\n\n**Examples:**\n\n**Metadata filtering:**\n```json\n{\"metadata\":[{\"path\":\"speaker\",\"operator\":\"Like\",\"valueText\":\"YO%\"}]}\n```\n\n**Video info filtering (file-level):**\n```json\n{\"video_info\":[{\"path\":\"duration_seconds\",\"operator\":\"GreaterThan\",\"valueText\":\"60\"}]}\n```\n\n**Video info filtering (segment-level):**\n```json\n{\"video_info\":[{\"path\":\"duration_seconds\",\"operator\":\"LessThan\",\"valueText\":\"30\",\"scope\":\"segment\"}]}\n```\n\n**File property filtering:**\n```json\n{\"file\":[{\"path\":\"filename\",\"operator\":\"Like\",\"valueText\":\"%.mp4\"}]}\n```\n```json\n{\"file\":[{\"path\":\"bytes\",\"operator\":\"GreaterThan\",\"valueText\":\"1048576\"}]}\n```\n```json\n{\"file\":[{\"path\":\"created_at\",\"operator\":\"GreaterThan\",\"valueText\":\"2024-01-01T00:00:00Z\"}]}\n```\n\n**Combined filtering:**\n```json\n{\"metadata\":[{\"path\":\"speaker\",\"operator\":\"Equal\",\"valueText\":\"John\"}],\"video_info\":[{\"path\":\"has_audio\",\"operator\":\"Equal\",\"valueText\":\"true\"}],\"file\":[{\"path\":\"filename\",\"operator\":\"Like\",\"valueText\":\"%.mp4\"}]}\n```",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of files",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileList"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred on the server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/files/{file_id}": {
      "get": {
        "tags": ["Files"],
        "summary": "Retrieve details about a specific file",
        "operationId": "getFile",
        "description": "Retrieve details about a specific file",
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "description": "The ID of the file to retrieve",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          },
          "404": {
            "description": "File not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred on the server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Files"],
        "summary": "Delete a file",
        "operationId": "deleteFile",
        "description": "Delete a file",
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "description": "The ID of the file to delete",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful deletion",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileDelete"
                }
              }
            }
          },
          "404": {
            "description": "File not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred on the server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Files"],
        "summary": "Update a file",
        "operationId": "updateFile",
        "description": "Update a file",
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "description": "The ID of the file to update",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "File update parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FileUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful file update",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or malformed file update parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/files/{file_id}/segmentations": {
      "post": {
        "tags": ["Files"],
        "summary": "Create a new segmentation for a file",
        "operationId": "createFileSegmentation",
        "description": "Create a new segmentation for a file using the specified segmentation configuration",
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "description": "The ID of the file to segment",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Segmentation configuration",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SegmentationConfig"
                  }
                ],
                "type": "object",
                "properties": {
                  "thumbnails_config": {
                    "$ref": "#/components/schemas/ThumbnailsConfig",
                    "description": "Configuration for segment thumbnails. Optional."
                  }
                },
                "description": "Segmentation configuration (root level) with optional thumbnails configuration."
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Segmentation created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Segmentation"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or file duration is less than window size",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "File not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred on the server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Files"],
        "summary": "List segmentations for a file",
        "operationId": "listFileSegmentations",
        "description": "List all segmentations for a specific file",
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "description": "The ID of the file",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of segmentations to return",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset from the start of the list",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of segmentations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SegmentationList"
                }
              }
            }
          },
          "404": {
            "description": "File not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred on the server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/files/{file_id}/thumbnails": {
      "get": {
        "tags": ["Files", "Thumbnails"],
        "summary": "Get thumbnails for a file",
        "operationId": "getThumbnails",
        "description": "Get all thumbnails for a file",
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "description": "The ID of the file",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "is_default",
            "in": "query",
            "description": "Filter thumbnails by default status. If true, will only return the default thumbnail for the file",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "segmentation_id",
            "in": "query",
            "description": "Filter thumbnails by segmentation ID",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of thumbnails to return",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset from the start of the list",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter thumbnails by type",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ThumbnailType"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of thumbnails",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThumbnailList"
                }
              }
            }
          },
          "404": {
            "description": "File not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred on the server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/files/{file_id}/tags": {
      "get": {
        "tags": ["Files", "Tags"],
        "summary": "List tags for a file",
        "operationId": "listFileTags",
        "description": "List all tags for a specific file",
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "description": "The ID of the file",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of tags",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListVideoTagsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/files/{file_id}/segments": {
      "get": {
        "tags": ["Files", "File Segments"],
        "summary": "List file segments",
        "operationId": "listFileSegments",
        "description": "List all segments for a specific file",
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "description": "The ID of the file",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "start_time_after",
            "in": "query",
            "description": "Filter segments by start time",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 0
            }
          },
          {
            "name": "end_time_before",
            "in": "query",
            "description": "Filter segments by end time",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 0
            }
          },
          {
            "name": "min_duration",
            "in": "query",
            "description": "Filter segments with duration greater than or equal to this value (in seconds)",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 0
            }
          },
          {
            "name": "max_duration",
            "in": "query",
            "description": "Filter segments with duration less than or equal to this value (in seconds). Must be greater than or equal to min_duration when both are provided.",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of segments to return",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset from the start of the list",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid query parameters (e.g., min_duration > max_duration, start_time_after >= end_time_before)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "List of segments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileSegmentListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/files/{file_id}/segments/{segment_id}": {
      "get": {
        "tags": ["Files", "File Segments"],
        "summary": "Get a file segment",
        "operationId": "getFileSegment",
        "description": "Get a file segment",
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "description": "The ID of the file",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "segment_id",
            "in": "path",
            "required": true,
            "description": "The ID of the segment",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File segment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileSegment"
                }
              }
            }
          },
          "404": {
            "description": "File segment not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred on the server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Files", "File Segments"],
        "summary": "Update a file segment",
        "operationId": "updateFileSegment",
        "description": "Update a file segment",
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "description": "The ID of the file",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "segment_id",
            "in": "path",
            "required": true,
            "description": "The ID of the segment",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "File segment update parameters",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "metadata": {
                    "type": "object",
                    "description": "The user defined metadata for the segment. Nullable"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File segment updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileSegment"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or malformed file segment update parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "File segment not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred on the server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/files/{file_id}/segments/{segment_id}/tags": {
      "get": {
        "tags": ["Files", "File Segments", "Tags"],
        "summary": "List tags for a file segment",
        "operationId": "listFileSegmentTags",
        "description": "List all tags for a specific file segment",
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "description": "The ID of the file",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "segment_id",
            "in": "path",
            "required": true,
            "description": "The ID of the segment",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of tags",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListVideoTagsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/files/{file_id}/segments/{segment_id}/describes": {
      "get": {
        "tags": ["Files", "File Segments", "Describe"],
        "summary": "List describes for a file segment",
        "operationId": "listFileSegmentDescribes",
        "description": "List all describe outputs for a specific file segment",
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "description": "The ID of the file",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "segment_id",
            "in": "path",
            "required": true,
            "description": "The ID of the segment",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by job status. Supports comma-separated values (e.g., 'completed,processing'). Defaults to 'completed'.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "response_format",
            "in": "query",
            "description": "Output format for the describe data",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["json", "markdown"]
            }
          },
          {
            "name": "include_data",
            "in": "query",
            "description": "Include the describe data in the response. If false, only job information is returned. Defaults to false.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items to return",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset from the start of the list",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of describes for the segment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SegmentDescribeListResponse"
                }
              }
            }
          },
          "404": {
            "description": "File or segment not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/files/{file_id}/segments/{segment_id}/describes/{job_id}": {
      "get": {
        "tags": ["Files", "File Segments", "Describe"],
        "summary": "Get describe for a file segment",
        "operationId": "getFileSegmentDescribe",
        "description": "Get a specific describe output for a file segment by job ID",
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "description": "The ID of the file",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "segment_id",
            "in": "path",
            "required": true,
            "description": "The ID of the segment",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "description": "The ID of the describe job",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "response_format",
            "in": "query",
            "description": "Output format for the describe data",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["json", "markdown"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Describe for the segment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SegmentDescribe"
                }
              }
            }
          },
          "404": {
            "description": "File, segment, or describe job not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/collections": {
      "post": {
        "tags": ["Collections"],
        "summary": "Create a new collection to organize and process video files",
        "operationId": "createCollection",
        "description": "Create a new collection to organize and process video files. Collections are used to group files together and process them in a consistent way.",
        "requestBody": {
          "description": "Collection creation parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewCollection"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful collection creation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Collection"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or malformed YouTube URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Collection name already exists for this account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Resource limits exceeded (total collections or files per collection)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred on the server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Collections"],
        "summary": "List all collections",
        "operationId": "listCollections",
        "description": "List all collections",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of collections to return",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of collections to skip",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Order the collections by a specific field",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["name", "created_at"]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort the collections in ascending or descending order",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"]
            }
          },
          {
            "name": "collection_type",
            "in": "query",
            "description": "Filter collections by type",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "media-descriptions",
                "entities",
                "rich-transcripts",
                "face-analysis"
              ]
            }
          },
          {
            "name": "created_after",
            "in": "query",
            "description": "Filter collections created after this date (ISO 8601 format)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created_before",
            "in": "query",
            "description": "Filter collections created before this date (ISO 8601 format)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of collections",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionList"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred on the server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/collections/{collection_id}": {
      "get": {
        "tags": ["Collections"],
        "summary": "Retrieve details about a specific collection",
        "operationId": "getCollection",
        "description": "Retrieve details about a specific collection",
        "parameters": [
          {
            "name": "collection_id",
            "in": "path",
            "required": true,
            "description": "The ID of the collection to retrieve",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Collection"
                }
              }
            }
          },
          "404": {
            "description": "Collection not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred on the server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Collections"],
        "summary": "Delete a collection",
        "operationId": "deleteCollection",
        "description": "Delete a collection",
        "parameters": [
          {
            "name": "collection_id",
            "in": "path",
            "required": true,
            "description": "The ID of the collection to delete",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful deletion",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionDelete"
                }
              }
            }
          },
          "404": {
            "description": "Collection not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred on the server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Collections"],
        "summary": "Update a collection",
        "operationId": "updateCollection",
        "description": "Update a collection",
        "parameters": [
          {
            "name": "collection_id",
            "in": "path",
            "required": true,
            "description": "The ID of the collection to update",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Collection update parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CollectionUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful collection update",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Collection"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Collection not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred on the server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/collections/{collection_id}/videos": {
      "post": {
        "tags": ["Collections"],
        "summary": "[Deprecated] Add a video to a collection",
        "operationId": "addVideo",
        "description": "**DEPRECATED: Use POST /collections/\\{collection_id\\}/media instead.**\n\nAdd a video to a collection. This endpoint is deprecated - use the /media endpoint which supports both video and audio files.",
        "parameters": [
          {
            "name": "collection_id",
            "in": "path",
            "required": true,
            "description": "The ID of the collection to add the video file to",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "File association parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddCollectionFile"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful file addition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionFile"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Collection or file not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred on the server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": true
      },
      "get": {
        "tags": ["Collections"],
        "summary": "List all files in a collection",
        "operationId": "listVideos",
        "description": "List all files in a collection",
        "parameters": [
          {
            "name": "collection_id",
            "in": "path",
            "required": true,
            "description": "The ID of the collection",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of files to return",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of files to skip",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by processing status",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "processing",
                "completed",
                "failed",
                "not_applicable"
              ]
            }
          },
          {
            "name": "added_before",
            "in": "query",
            "description": "Filter files added before a specific date (YYYY-MM-DD format), in UTC timezone",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "added_after",
            "in": "query",
            "description": "Filter files added after a specific date (YYYY-MM-DD format), in UTC timezone",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Order the files by a specific field",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["added_at", "filename"]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort the files in ascending or descending order",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"]
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "JSON string containing filter criteria to constrain file search results. This is the JSON string version of the SearchFilter object used in the search API.\n\n**Supported Filter Types:**\n\n\u2022 **metadata** - Filter by file metadata using JSON path expressions (e.g., 'metadata.speaker', 'metadata.category.subcategory')\n\u2022 **video_info** - Filter by video information properties. Supports optional `scope` ('file' or 'segment', default 'file')\n  - `duration_seconds` - Video/segment duration in seconds (supports file and segment scope)\n  - `has_audio` - Whether the video has audio (true/false, file scope only)\n\n\u2022 **file** - Filter by file properties\n  - `filename` - File name (string)\n  - `uri` - File URI (string)\n  - `id` - File ID (UUID string)\n  - `created_at` - Creation timestamp (ISO 8601 string)\n  - `bytes` - File size in bytes (number)\n\n**Supported Operators:**\n\u2022 **Equal** - Exact match (requires valueText)\n\u2022 **NotEqual** - Not equal to value (requires valueText)\n\u2022 **LessThan** - Less than value (requires valueText)\n\u2022 **GreaterThan** - Greater than value (requires valueText)\n\u2022 **Like** - Case-insensitive pattern matching with wildcards (requires valueText)\n\u2022 **In** - Value is in array (requires valueTextArray)\n\u2022 **ContainsAny** - Array contains any of the values (requires valueTextArray)\n\u2022 **ContainsAll** - Array contains all of the values (requires valueTextArray)\n\n**Examples:**\n\n**Metadata filtering:**\n```json\n{\"metadata\":[{\"path\":\"speaker\",\"operator\":\"Like\",\"valueText\":\"YO%\"}]}\n```\n\n**Video info filtering (file-level):**\n```json\n{\"video_info\":[{\"path\":\"duration_seconds\",\"operator\":\"GreaterThan\",\"valueText\":\"60\"}]}\n```\n\n**Video info filtering (segment-level):**\n```json\n{\"video_info\":[{\"path\":\"duration_seconds\",\"operator\":\"LessThan\",\"valueText\":\"30\",\"scope\":\"segment\"}]}\n```\n\n**File property filtering:**\n```json\n{\"file\":[{\"path\":\"filename\",\"operator\":\"Like\",\"valueText\":\"%.mp4\"}]}\n```\n```json\n{\"file\":[{\"path\":\"bytes\",\"operator\":\"GreaterThan\",\"valueText\":\"1048576\"}]}\n```\n```json\n{\"file\":[{\"path\":\"created_at\",\"operator\":\"GreaterThan\",\"valueText\":\"2024-01-01T00:00:00Z\"}]}\n```\n\n**Combined filtering:**\n```json\n{\"metadata\":[{\"path\":\"speaker\",\"operator\":\"Equal\",\"valueText\":\"John\"}],\"video_info\":[{\"path\":\"has_audio\",\"operator\":\"Equal\",\"valueText\":\"true\"}],\"file\":[{\"path\":\"filename\",\"operator\":\"Like\",\"valueText\":\"%.mp4\"}]}\n```",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of files in the collection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionFileList"
                }
              }
            }
          },
          "404": {
            "description": "Collection not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred on the server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/collections/{collection_id}/videos/{file_id}": {
      "get": {
        "tags": ["Collections"],
        "summary": "Retrieve information about a specific video file in a collection",
        "operationId": "getVideo",
        "description": "Retrieve information about a specific video file in a collection",
        "parameters": [
          {
            "name": "collection_id",
            "in": "path",
            "required": true,
            "description": "The ID of the collection",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "description": "The ID of the file",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File details within the collection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionFile"
                }
              }
            }
          },
          "404": {
            "description": "Collection or file not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred on the server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Collections"],
        "summary": "Remove a video file from a collection",
        "operationId": "deleteVideo",
        "description": "Remove a video file from a collection",
        "parameters": [
          {
            "name": "collection_id",
            "in": "path",
            "required": true,
            "description": "The ID of the collection",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "description": "The ID of the file to remove",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful removal",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionFileDelete"
                }
              }
            }
          },
          "404": {
            "description": "Collection or file not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred on the server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/collections/{collection_id}/videos/{file_id}/entities": {
      "get": {
        "tags": ["Collections"],
        "summary": "Retrieve extracted entities for a specific file in a collection",
        "operationId": "getEntities",
        "description": "Retrieve extracted entities for a specific file in a collection. Results are paginated with a default limit of 50 segment entities per request (maximum 100). Use limit and offset parameters to paginate through all results. This API is only available when the collection is created with collection_type 'entities'",
        "parameters": [
          {
            "name": "collection_id",
            "in": "path",
            "required": true,
            "description": "The ID of the collection",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "description": "The ID of the file",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of segment entities to return",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of segment entities to skip",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "include_thumbnails",
            "in": "query",
            "description": "When true, include a file-level thumbnail_url in the response and a per-segment thumbnail_url on each segment entity",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include_chapters",
            "in": "query",
            "description": "Include narrative chapters in the response (when segmentation strategy is 'narrative')",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "include_shots",
            "in": "query",
            "description": "Include shot boundaries in the response (when segmentation strategy is 'shot-detector')",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File entities",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileEntities"
                }
              }
            }
          },
          "400": {
            "description": "Collection type is not 'entities'",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Collection or file not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred on the server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/collections/{collection_id}/videos/{file_id}/rich-transcripts": {
      "get": {
        "tags": ["Collections"],
        "summary": "Retrieve rich transcription data for a specific file in a collection",
        "operationId": "getTranscripts",
        "description": "Retrieve rich transcription data for a specific file in a collection. This API is only available when the a collection is created with collection_type 'rich-transcripts'",
        "parameters": [
          {
            "name": "collection_id",
            "in": "path",
            "required": true,
            "description": "The ID of the collection",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "description": "The ID of the file",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "response_format",
            "in": "query",
            "description": "Format for the response",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["json", "markdown"]
            }
          },
          {
            "name": "start_time_seconds",
            "in": "query",
            "description": "Start time in seconds to filter out results by",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "end_time_seconds",
            "in": "query",
            "description": "End time in seconds to filter out results by",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "modalities",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ModalitiesSchema"
            }
          },
          {
            "name": "include_word_timestamps",
            "in": "query",
            "description": "When true, include a words array on each speech entry with word-level start_time and end_time. Not available for YouTube sources. Only applies when response_format=json.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Rich transcription data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RichTranscript"
                }
              }
            }
          },
          "400": {
            "description": "Collection type is not 'rich-transcripts'",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Collection or file not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred on the server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/collections/{collection_id}/youtube": {
      "post": {
        "tags": ["Collections"],
        "summary": "Add a YouTube video to a collection",
        "operationId": "addYouTubeVideo",
        "description": "Add a YouTube video to a collection by URL",
        "deprecated": true,
        "parameters": [
          {
            "name": "collection_id",
            "in": "path",
            "required": true,
            "description": "The ID of the collection to add the YouTube video to",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "YouTube video URL parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddYouTubeCollectionFile"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful video addition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionFile"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or YouTube URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Collection not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred on the server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/collections/{collection_id}/entities": {
      "get": {
        "tags": ["Collections"],
        "summary": "List all extracted entities for files in a collection",
        "operationId": "listCollectionEntities",
        "description": "List all extracted entities for files in a collection. This API is only available when a collection is created with collection_type 'entities'",
        "parameters": [
          {
            "name": "collection_id",
            "in": "path",
            "required": true,
            "description": "The ID of the collection",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of files to return",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of files to skip",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Order the files by a specific field",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["added_at", "filename"]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort the files in ascending or descending order",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"]
            }
          },
          {
            "name": "added_before",
            "in": "query",
            "description": "Filter files added before a specific date (YYYY-MM-DD format), in UTC timezone",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "added_after",
            "in": "query",
            "description": "Filter files added after a specific date (YYYY-MM-DD format), in UTC timezone",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of file entities in the collection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionEntitiesList"
                }
              }
            }
          },
          "400": {
            "description": "Collection type is not 'entities'",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Collection not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred on the server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/collections/{collection_id}/rich-transcripts": {
      "get": {
        "tags": ["Collections"],
        "summary": "List all rich transcription data for files in a collection",
        "operationId": "listCollectionRichTranscripts",
        "description": "List all rich transcription data for files in a collection. This API is only available when a collection is created with collection_type 'rich-transcripts'",
        "parameters": [
          {
            "name": "collection_id",
            "in": "path",
            "required": true,
            "description": "The ID of the collection",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of files to return",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of files to skip",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Order the files by a specific field",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["added_at", "filename"]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort the files in ascending or descending order",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"]
            }
          },
          {
            "name": "added_before",
            "in": "query",
            "description": "Filter files added before a specific date (YYYY-MM-DD format), in UTC timezone",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "added_after",
            "in": "query",
            "description": "Filter files added after a specific date (YYYY-MM-DD format), in UTC timezone",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "response_format",
            "in": "query",
            "description": "Format for the response",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["json", "markdown"]
            }
          },
          {
            "name": "modalities",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ModalitiesSchema"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of rich transcription data in the collection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionRichTranscriptsList"
                }
              }
            }
          },
          "400": {
            "description": "Collection type is not 'rich-transcripts'",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Collection not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred on the server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/collections/{collection_id}/media-descriptions": {
      "get": {
        "tags": ["Collections"],
        "summary": "List all media description data for files in a collection",
        "operationId": "listCollectionMediaDescriptions",
        "description": "List all media description data for files in a collection. This API is only available when a collection is created with collection_type 'media-descriptions'",
        "parameters": [
          {
            "name": "collection_id",
            "in": "path",
            "required": true,
            "description": "The ID of the collection",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of files to return",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of files to skip",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Order the files by a specific field",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["added_at", "filename"]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort the files in ascending or descending order",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"]
            }
          },
          {
            "name": "added_before",
            "in": "query",
            "description": "Filter files added before a specific date (YYYY-MM-DD format), in UTC timezone",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "added_after",
            "in": "query",
            "description": "Filter files added after a specific date (YYYY-MM-DD format), in UTC timezone",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "response_format",
            "in": "query",
            "description": "Format for the response",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["json", "markdown"]
            }
          },
          {
            "name": "modalities",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ModalitiesSchema"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of media description data in the collection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionMediaDescriptionsList"
                }
              }
            }
          },
          "400": {
            "description": "Collection type is not 'media-descriptions'",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Collection not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred on the server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/collections/{collection_id}/videos/{file_id}/media-descriptions": {
      "get": {
        "tags": ["Collections"],
        "summary": "Retrieve media description data for a specific file in a collection",
        "operationId": "getMediaDescriptions",
        "description": "Retrieve media description data for a specific file in a collection. This API is only available when the collection is created with collection_type 'media-descriptions'",
        "parameters": [
          {
            "name": "collection_id",
            "in": "path",
            "required": true,
            "description": "The ID of the collection",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "description": "The ID of the file",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "response_format",
            "in": "query",
            "description": "Format for the response",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["json", "markdown"]
            }
          },
          {
            "name": "start_time_seconds",
            "in": "query",
            "description": "Start time in seconds to filter out results by",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "end_time_seconds",
            "in": "query",
            "description": "End time in seconds to filter out results by",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "modalities",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ModalitiesSchema"
            }
          },
          {
            "name": "include_thumbnails",
            "in": "query",
            "description": "When true, include a file-level thumbnail_url on the response and per-segment thumbnail_url on each segment_summary entry",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include_word_timestamps",
            "in": "query",
            "description": "When true, include a words array on each speech entry with word-level start_time and end_time. Not available for YouTube sources. Only applies when response_format=json.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "include_chapters",
            "in": "query",
            "description": "Include narrative chapters in the response (when segmentation strategy is 'narrative')",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "include_shots",
            "in": "query",
            "description": "Include shot boundaries in the response (when segmentation strategy is 'shot-detector')",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Media description data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaDescription"
                }
              }
            }
          },
          "400": {
            "description": "Collection type is not 'media-descriptions'",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Collection or file not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred on the server",
[...]
